input {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 17px;
    border: none;
    width: 300px;
    height: 50px;
}

p {
    font-size: 18px;
    font-weight: 500;
}

h1 {
    font-size: 22px;
    font-weight: 600;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 375px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.login {
    background-color: #FFFFFF;
    width: 400px;
    height: 90vh;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0px;
}

.login .logo {
    width: 130px;
    margin-bottom: 90px;
}

.login input {
    width: 260px;
    margin:15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

.login button {
    color: #696969;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 109px;
    height: 45px;
    margin-top: 15px;
    background: #E7E7E7;
    border-radius: 9px;
    transition-duration: 0.5s;
}

button:hover {
    color: black;
    cursor: pointer;
    background-color: #C54F3A;
}

.hidden {
    visibility:hidden;
}

.topo {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    padding: 17px;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.48);
}

.topo img {
    width: 75px;
    height: 53px;
}


.info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.chat {
    background-color: #FFFFFF;
    width: 375px;
    margin-top: 90px;
    margin-bottom: 92px;
}

.status {
    background-color: #DCDCDC;
    padding: 8px;
    margin: 4px auto;
}

.rsv {
    background-color: #FFDEDE;
    padding: 8px;
    margin: 4px auto;
}

.msg {
    background-color: #FFFFFF;
    padding: 8px;
    margin: 4px auto;
}

span {
    color: #AAAAAA;
}

strong {
    font-weight: 700;
}

.baixo {
    width: 375px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 33px;
    padding: 17px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -2px 11px -2px rgba(0, 0, 0, 0.48);
}

ion-icon:hover {
    cursor: pointer;
}

