.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 375px;
    margin: 0 auto;
    position: relative;
    
}

.topo {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    padding: 17px;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.48);
}

.topo img {
    width: 75px;
    height: 53px;
}

img:hover {
    cursor: pointer;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.chat {
    background-color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 92px;
}

.status {
    background-color: #DCDCDC;
    padding: 8px;
    margin: 4px auto;
}

.rsv {
    background-color: #FFDEDE;
    padding: 8px;
    margin: 4px auto;
}

.msg {
    background-color: #FFFFFF;
    padding: 8px;
    margin: 4px auto;
}

span {
    color: #AAAAAA;
}

strong {
    font-weight: 700;
}

.baixo {
    width: 375px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 33px;
    padding: 17px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -2px 11px -2px rgba(0, 0, 0, 0.48);
}

input {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 17px;
    border: none;
    width: 300px;
    height: 50px;
}

ion-icon:hover {
    cursor: pointer;
}

